---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJ0YWxrcHVzaHRlc3RAcHJheGlzLXBhcmF0ZXh0LTM0NS5pYW0uZ3NlcnZpY2VhY2NvdW50LmNvbSIsImF1ZCI6Imh0dHBzOi8vd3d3Lmdvb2dsZWFwaXMuY29tL29hdXRoMi92NC90b2tlbiIsImV4cCI6MTU3MDY3NjYxOCwiaWF0IjoxNTcwNjc2NDk4LCJzY29wZSI6Imh0dHBzOi8vd3d3Lmdvb2dsZWFwaXMuY29tL2F1dGgvZHJpdmUgaHR0cHM6Ly9zcHJlYWRzaGVldHMuZ29vZ2xlLmNvbS9mZWVkcy8ifQ.lDppMqRa9xKOjhByBY3oZFv_R5fu2Aysg4Cj59sLQgtUuaW6PvEjRLRQ4QzrPqGwAJzQGkEewt1-u3GQsGQRgsv7EYnbJDHngRDMf9fI3yMvrNfi6S6IEpp24HD7Axwosu0SVglxAr7sKYmV3Q6JZpUJVXOXHnVxsPrPrHpz4noVmT8g420T7dOpiKq4c1CHRv4GjfKwB9BRooATANgd6kuZ1nJk96ZXTuSw4XbOkNuTJGV6NXaPZpsB8FkXG9WHn_GitYekGYIfseF65yy4EiqJQ8HhxEzNSEsgML4j_mGQrEFEVaClcw-Uv2BEcrAyJpg0druzTqRnDhICjWwbjw
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "ya29.c.Kl6bB6wrwBrcMUBfLSo3Gg29KwujuAYfsG1wdANtI2RtMZPsP6q8J4e5sD6rxrHXllb_JtnfuYwRMo3ghQmax_ybEEEDUKA2C2hcMPaepUftztSBi1PNE6SC54z6Kgxa",
          "expires_in": 3600,
          "token_type": "Bearer"
        }
  recorded_at: Thu, 10 Oct 2019 03:02:39 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1xkofJa5iI3AQE4yWEoHqMTQ1QQ-VDsfUDDwV96QQDVM?fields=*&supportsTeamDrives=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.Kl6bB6wrwBrcMUBfLSo3Gg29KwujuAYfsG1wdANtI2RtMZPsP6q8J4e5sD6rxrHXllb_JtnfuYwRMo3ghQmax_ybEEEDUKA2C2hcMPaepUftztSBi1PNE6SC54z6Kgxa
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#file",
         "id": "1xkofJa5iI3AQE4yWEoHqMTQ1QQ-VDsfUDDwV96QQDVM",
         "name": "Talkpush exercice",
         "mimeType": "application/vnd.google-apps.spreadsheet",
         "starred": false,
         "trashed": false,
         "explicitlyTrashed": false,
         "spaces": [
          "drive"
         ],
         "version": "613417",
         "webViewLink": "https://docs.google.com/spreadsheets/d/1xkofJa5iI3AQE4yWEoHqMTQ1QQ-VDsfUDDwV96QQDVM/edit?usp=drivesdk",
         "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.spreadsheet",
         "hasThumbnail": true,
         "thumbnailLink": "https://docs.google.com/feeds/vt?gd=true&id=1xkofJa5iI3AQE4yWEoHqMTQ1QQ-VDsfUDDwV96QQDVM&v=361&s=AMedNnoAAAAAXZ67byBNVsd_pTt3MFrc8eDB5eC6i3F1&sz=s220",
         "thumbnailVersion": "361",
         "viewedByMe": false,
         "createdTime": "2017-02-14T13:09:01.991Z",
         "modifiedTime": "2019-10-10T00:25:10.558Z",
         "modifiedByMe": false,
         "sharedWithMeTime": "2019-10-09T23:13:27.784Z",
         "sharingUser": {
          "kind": "drive#user",
          "displayName": "xavi vega",
          "photoLink": "https://lh3.googleusercontent.com/a-/AAuE7mAusJwiWpGG-rkyxbGb1Gx2SIgx_NWtpIFA803Raw=s64",
          "me": false,
          "permissionId": "06288482687475054647",
          "emailAddress": "xabi1309@gmail.com"
         },
         "owners": [
          {
           "kind": "drive#user",
           "displayName": "Romain Verbeke",
           "me": false,
           "permissionId": "16088698513214649756",
           "emailAddress": "romain.verbeke@talkpush.com"
          }
         ],
         "shared": true,
         "ownedByMe": false,
         "capabilities": {
          "canAddChildren": false,
          "canChangeCopyRequiresWriterPermission": false,
          "canChangeViewersCanCopyContent": false,
          "canComment": true,
          "canCopy": true,
          "canDelete": false,
          "canDownload": true,
          "canEdit": true,
          "canListChildren": false,
          "canModifyContent": true,
          "canMoveItemIntoTeamDrive": false,
          "canMoveItemOutOfDrive": false,
          "canReadRevisions": true,
          "canRemoveChildren": false,
          "canRename": true,
          "canShare": true,
          "canTrash": false,
          "canUntrash": false
         },
         "viewersCanCopyContent": true,
         "copyRequiresWriterPermission": false,
         "writersCanShare": true,
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "00230294375945242232",
           "type": "user",
           "emailAddress": "rubyaccount-for-talkpush@talkpush-248208.iam.gserviceaccount.com",
           "role": "writer",
           "displayName": "rubyaccount-for-talkpush",
           "deleted": false
          },
          {
           "kind": "drive#permission",
           "id": "07466238786195154355",
           "type": "user",
           "emailAddress": "extract@talkpushspreadsheet.iam.gserviceaccount.com",
           "role": "writer",
           "displayName": "extract",
           "deleted": false
          },
          {
           "kind": "drive#permission",
           "id": "00918010391251200296",
           "type": "user",
           "emailAddress": "talkpush-test@talkpush-te[...]
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1xkofJa5iI3AQE4yWEoHqMTQ1QQ-VDsfUDDwV96QQDVM?fields=sheets.properties
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.Kl6bB6wrwBrcMUBfLSo3Gg29KwujuAYfsG1wdANtI2RtMZPsP6q8J4e5sD6rxrHXllb_JtnfuYwRMo3ghQmax_ybEEEDUKA2C2hcMPaepUftztSBi1PNE6SC54z6Kgxa
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "sheets": [
            {
              "properties": {
                "sheetId": 1728808833,
                "title": "Form Responses 2",
                "index": 0,
                "sheetType": "GRID",
                "gridProperties": {
                  "rowCount": 49991,
                  "columnCount": 11,
                  "frozenRowCount": 1
                }
              }
            }
          ]
        }
  recorded_at: Thu, 10 Oct 2019 03:02:39 GMT
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1xkofJa5iI3AQE4yWEoHqMTQ1QQ-VDsfUDDwV96QQDVM?fields=sheets.data.rowData.values(formattedValue,userEnteredValue,effectiveValue)&ranges=%27Form%20Responses%202%27
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.Kl6bB6wrwBrcMUBfLSo3Gg29KwujuAYfsG1wdANtI2RtMZPsP6q8J4e5sD6rxrHXllb_JtnfuYwRMo3ghQmax_ybEEEDUKA2C2hcMPaepUftztSBi1PNE6SC54z6Kgxa
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "sheets": [
            {
              "data": [
                {
                  "rowData": [
                    {
                      "values": [
                        {
                          "userEnteredValue": {
                            "stringValue": "Timestamp"
                          },
                          "effectiveValue": {
                            "stringValue": "Timestamp"
                          },
                          "formattedValue": "Timestamp"
                        },
                        {
                          "userEnteredValue": {
                            "stringValue": "First Name"
                          },
                          "effectiveValue": {
                            "stringValue": "First Name"
                          },
                          "formattedValue": "First Name"
                        },
                        {
                          "userEnteredValue": {
            [...]
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1xkofJa5iI3AQE4yWEoHqMTQ1QQ-VDsfUDDwV96QQDVM?fields=sheets(properties,data.rowData.values(formattedValue,userEnteredValue,effectiveValue))&ranges=%27Form%20Responses%202%27
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.Kl6bB6wrwBrcMUBfLSo3Gg29KwujuAYfsG1wdANtI2RtMZPsP6q8J4e5sD6rxrHXllb_JtnfuYwRMo3ghQmax_ybEEEDUKA2C2hcMPaepUftztSBi1PNE6SC54z6Kgxa
      Conte[...]
[...]
- request:
    method: post
    uri: https://my.talkpush.com/api/talkpush_services/campaigns/3929/campaign_invitations
    body:
      encoding: UTF-8
      string: api_key=secret_api_key&campaign_invitation[first_name]=First%20Name&campaign_invitation[last_name]=Last%20Name&campaign_invitation[email]=Email&campaign_invitation[user_phone_number]=Phone%20number&headers[Content-Type]=application%2Fjson
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0a66f530792fb4992393bac8424a0da3"
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Candidate was succesfully added to the campaign.","url":"https://my.talkpush.com/guests/campaign_invitations/938358/outbound_call?company_id=16\u0026outbound_token=dc6d8eeda51a3d6ea1afa91f3efcc82da54598200709b3e4bc5efc557bf1fa51\u0026source=MICROSITE","pin":"867279","id":938358}'
  recorded_at: Fri, 11 Oct 2019 23:02:38 GMT
[...]
- request:
    method: post
    uri: https://my.talkpush.com/api/talkpush_services/campaigns/3929/campaign_invitations
    body:
      encoding: UTF-8
      string: api_key=secret_api_key&campaign_invitation[first_name]=Ringo&campaign_invitation[last_name]=Starr&campaign_invitation[email]=rstarr%40gmail.com&campaign_invitation[user_phone_number]=88888888&headers[Content-Type]=application%2Fjson
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9bbe8ec3be2d827503280952c99b623a"
    body:
      encoding: ASCII-8BIT
      string: '{"error":"duplicated"}'
  recorded_at: Fri, 11 Oct 2019 23:02:42 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJ0YWxrcHVzaHRlc3RAcHJheGlzLXBhcmF0ZXh0LTM0NS5pYW0uZ3NlcnZpY2VhY2NvdW50LmNvbSIsImF1ZCI6Imh0dHBzOi8vd3d3Lmdvb2dsZWFwaXMuY29tL29hdXRoMi92NC90b2tlbiIsImV4cCI6MTU3MDgzNzYzNywiaWF0IjoxNTcwODM3NTE3LCJzY29wZSI6Imh0dHBzOi8vd3d3Lmdvb2dsZWFwaXMuY29tL2F1dGgvZHJpdmUgaHR0cHM6Ly9zcHJlYWRzaGVldHMuZ29vZ2xlLmNvbS9mZWVkcy8ifQ.H7omQyZu6qAkRKWIqbFuVDryvU5LZy5Bp1Xvur8JC2H7y4qoSzi-RbZHcL5FX_waC1YwOAlv40HAGCltxUtWp9RavCF4VpnBfnyoMjiti5oworHyTQbHpfSRCGaMr4QtGDDX9r4mYmcMuWKb87-K6UVyOJYuFkhjq6o2FKWO5pcIoRkoO0aHSWJYcv6S762WAY8YiOYkHpQ5D5pVVebTQ92_McGl1qOjr2hRlnVkT6E83KAFcMK04BtBkkAC5aqpOLSAsy0ibm63UPOP0GEWGZC5FZe_j0Ogl3jWu5hkNGFkwy1q7NuAUKl5mqDY2B46JrPUFELChbLtiG0Wgtpp7w
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "ya29.c.Kl6bB0nT2K8nHgXq09WUIh39Dpdiggm6Mvht6fe-0ZYhWVXtTNIap2EcF0NWfintcVLpc1T0dWDzsc5DFcmHzniYeX-L6D3Kw9t1g_ml1XoxswRzaYF73tPzvNSYCMxT",
          "expires_in": 3600,
          "token_type": "Bearer"
        }
  recorded_at: Fri, 11 Oct 2019 23:46:17 GMT
recorded_with: VCR 5.0.0
