<%= link_to "Create Candidates", candidates_home_index_path, :remote => true %>

<h1>Google Spreadsheet Candidates</h1>

<div id="candidates" >
</div>

<h1>Talk Push API Candidates</h1>

<div id="talk_push_candidates" >
</div>
