---
http_interactions:
- request:
    method: post
    uri: https://my.talkpush.com/api/talkpush_services/campaigns/3929/campaign_invitations
    body:
      encoding: UTF-8
      string: api_key=secret_api_key&campaign_invitation[first_name]=first_name_test1828652&campaign_invitation[last_name]=last_name_test4776120&campaign_invitation[email]=email1%40test.com9489970&campaign_invitation[user_phone_number]=5555555581806559&headers[Content-Type]=application%2Fjson
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5325520da6cbd8a48179f3c5baf073f7"
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Candidate was succesfully added to the campaign.","url":"https://my.talkpush.com/guests/campaign_invitations/938303/outbound_call?company_id=16\u0026outbound_token=148613eed5b9ebe7fe049bf79267efe67343187d7b8c49390b0ac9070f120b8f\u0026source=MICROSITE","pin":"105393","id":938303}'
  recorded_at: Wed, 09 Oct 2019 20:19:23 GMT
[...]
- request:
    method: post
    uri: https://my.talkpush.com/api/talkpush_services/campaigns/3929/campaign_invitations
    body:
      encoding: UTF-8
      string: api_key=secret_api_key&campaign_invitation[first_name]=first_name_test_9369102&campaign_invitation[last_name]=last_name_test_9369102&campaign_invitation[email]=email9369102%40test.com&campaign_invitation[user_phone_number]=9369102&headers[Content-Type]=application%2Fjson
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bc1d03d6b3d20696a71c775bf8a47827"
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Candidate was succesfully added to the campaign.","url":"https://my.talkpush.com/guests/campaign_invitations/938309/outbound_call?company_id=16\u0026outbound_token=ca7d821f3f0a29b7693f5188fb5283de9e41f90c3d504f23c3d397b99b1fa6ef\u0026source=MICROSITE","pin":"025594","id":938309}'
  recorded_at: Wed, 09 Oct 2019 20:45:55 GMT
recorded_with: VCR 5.0.0
