---
http_interactions:
- request:
    method: post
    uri: https://my.talkpush.com/api/talkpush_services/campaigns/3929/campaign_invitations
    body:
      encoding: UTF-8
      string: api_key=secret_api_key&campaign_invitation[first_name]=first_name_test_1579507&campaign_invitation[last_name]=last_name_test_1579507&campaign_invitation[email]=email1579507%40test.com&campaign_invitation[user_phone_number]=1579507&headers[Content-Type]=application%2Fjson
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"800d8e77c7ca7744ddb5ba14e33142a1"
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Candidate was succesfully added to the campaign.","url":"https://my.talkpush.com/guests/campaign_invitations/938350/outbound_call?company_id=16\u0026outbound_token=54834cc61c60cec1dedb6ef94b6ee144c2be5d46488abf4ccc666cebfb867b8a\u0026source=MICROSITE","pin":"113819","id":938350}'
  recorded_at: Fri, 11 Oct 2019 15:31:36 GMT
[...]
- request:
    method: post
    uri: https://my.talkpush.com/api/talkpush_services/campaigns/3929/campaign_invitations
    body:
      encoding: UTF-8
      string: api_key=secret_api_key&campaign_invitation[first_name]=&campaign_invitation[last_name]=&campaign_invitation[email]=&campaign_invitation[user_phone_number]=&headers[Content-Type]=application%2Fjson
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9bbe8ec3be2d827503280952c99b623a"
    body:
      encoding: ASCII-8BIT
      string: '{"error":"duplicated"}'
  recorded_at: Fri, 11 Oct 2019 22:55:22 GMT
[...]
- request:
    method: post
    uri: https://my.talkpush.com/api/talkpush_services/campaigns/3929/campaign_invitations
    body:
      encoding: UTF-8
      string: api_key=secret_api_key&campaign_invitation[first_name]=first_name_test_2489484&campaign_invitation[last_name]=last_name_test_2489484&campaign_invitation[email]=email2489484%40test.com&campaign_invitation[user_phone_number]=2489484&headers[Content-Type]=application%2Fjson
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6bd55301e79accb613d3f6402cd9d2f6"
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Candidate was succesfully added to the campaign.","url":"https://my.talkpush.com/guests/campaign_invitations/938376/outbound_call?company_id=16\u0026outbound_token=ee4b78672f624e0cd03238135d24a4ec40956765105291d2f76f5318b1f6dd75\u0026source=MICROSITE","pin":"948890","id":938376}'
  recorded_at: Sat, 12 Oct 2019 04:02:48 GMT
recorded_with: VCR 5.0.0
